body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #575454;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #41e076;
    text-decoration: none;
    font-size: small;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.content {
    max-width: 800px; /* Sets the comfortable width */
    margin: 0 auto; /* Centers the content */
    padding: 20px; /* Adds space around the content */
    background-color: #2faa4ed7; /* Optional: Adds a white background to the content area */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}
p {
    line-height: 2; /* Improves readability by increasing line spacing */
    margin-bottom: 1em;
}
